# IDE and Editor files
.idea/
.vscode/
*.swp
*.swo

# Node.js
frontend/node_modules/
frontend/dist/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Environment files
.env
.env.local
.env.*.local

# Database files
backend/data/*

# Upload files
backend/uploads/*
!backend/uploads/.gitkeep

# Log files
*.log

# System files
.DS_Store
Thumbs.db
backend/config.json
backend/vhs
